.vs
RubyHouseServices/bin
RubyHouseServices/obj
RubyHouseWeb/bin
RubyHouseWeb/obj
DIRegister/obj
DIRegister/bin
EntityFrameWorkModule/obj
EntityFrameWorkModule/bin
CommonLibrary/bin
CommonLibrary/obj
