<style>
    #topfooter div {
        text-align:center;
    }
</style>
<div class="row" id="topfooter" style="background-color:darkslateblue;color:white">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4> Địa chỉ </h4>
        <hr />
    </div>
    <div class="col-sm-4"></div>
</div>
<div class="row">
    <span class="pull-right">
        Một sản phẩm của HuyLe Software
    </span>
    Ruby Software @DateTime.Now.Year
</div>


