/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.FullDateInput {
    text-align:center
}

.color-pink {
    color: deeppink;
}
